[v-cloak] {
    display: none;
}

nav {
  height: 37px;
  background-color: #b2deff;
}

body > div {
}

.header, .main {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    border : 0;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
  display: flex;
  padding-top: 2px;
}

.navigation-left {
  margin-right: auto;
}

.navigation-right {
}

.video {
    margin: 16px 16px 16px;
}

.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  //background: lightcyan;
  color: dimgray;
  font-size: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  min-height: 100px; /* minimum height */
  position: relative;
  cursor: pointer;
}

.input-file {
    opacity: 0; /* invisible but it's there! */
    width: 80%;
    height: 100px;
    position: absolute;
    cursor: pointer;
}

.dropbox:hover {
    background: #b2deff; /* when mouse over to the drop zone, change color */
}

.dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
}

 .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

